<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <link rel="stylesheet" type="text/css" href="views/lobby.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
		<script src = "script/client.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    </head>
    <style>
        	
    </style>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i>
									<i class="fas fa-plus plusBtn" style="margin-left:6px; display:none"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body"> 
						<ui class="contacts">					
						</ui>
					</div>
					<div class="card-footer">
						<div style="width:100%">
							<i class="fas fa-user" style="color:white; 
							font-size:20px; padding-left:80px; cursor:pointer" onclick="showUserList()"></i>
							<i class="fas fa-comment-dots" style="color:white; font-size:20px;
							 margin-left:130px; cursor:pointer" onclick="showChatList()"></i>
						</div>
					</div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
                    <!-- style="display:none;" -->
					<div class="card" style="display:none;">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<!-- <div class="img_cont">
                                    <img src="#" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div> -->
								<div class="user_info">
									<span class="chatName"></span>
									<p class="chatNum"></p>
								</div>
								<div class="video_cam">
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li onclick="getAddUser()"><i class="fas fa-user-circle"></i>채팅방 정보</li>
									<li onclick="closeRoom(1)"><i class="fas fa-arrow-left"></i>뒤로가기</li>
									<li onclick="closeRoom(2)"><i class="fas fa-ban"></i>방 나가기</li>
								</ul>
							</div>
							<div class="action_menu_status chatStatus" style="display:none; padding:10px;">
								<h5 style="text-align:center">채팅방 정보</h5>
								<table style="width:100%; margin-left:auto; margin-right:auto">
									<tr>
										<td>채팅방</td>
										<td><input id="reName" type="text" style="width:100%"></td>
									</tr>										
								</table>
								<br>
								<label>인원추가</label>
								<div class="scroll_modal" style="width:90%; -ms-overflow-style: none; overflow-y:scroll;
				 				 height:150px; background:white; color:black; margin-left:auto; margin-right:auto">
									<table class="users_info" style="background:white; color:black; width:100%">
									</table>
								</div>
								<br>
								<div class="btnArea" style="margin-left:auto; width:90%; margin-right:auto; text-align:center">
									<button onclick="toggleMenu()">취소</button>
									<button onclick="addUser()">추가</button>
								</div>
							</div>				
						</div>
						<div class="card-body msg_card_body">
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea id="chatInput" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn" onclick="sendMessage();"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="container">
			<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-primary modalBtn" data-toggle="modal" data-target="#myModal" style="display:none">
		Open modal
	</button>

		<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
		<div class="modal-content" style="width:90%; height:400px; margin-left:auto; margin-right:auto">
		
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">채팅방 추가</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<table width="100%">
					<tr>
						<td>채팅방 제목 : </td>
						<td><input type="text" style="width:100%" id="chatName"/></td>
					</tr>
				</table>
					<br>
					<h6 style="width:100%; text-align:center;">채팅방 인원</h6>
				  <div class="scroll_modal" style="width:100%; -ms-overflow-style: none; overflow-y:scroll; 
				  height:150px; background:white; color:black;">
					  <table id="modal_user" style="width:100%">
						
					</table>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">취소</button> 
				<button type="button" class="btn btn-default createBtn" onclick="usersCreateRoom()">생성</button>
			</div>
			
			<!-- Modal footer -->
			
			
		</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	<form action="/upload" method="post" class="fileform" style="display:none" enctype="multipart/form-data">
		<input class="upload" name="files" type="file">
	</form>

	<div id="pop">
		<img src="" style="width:250px; height:250px; margin-top:20px;">
		<br>
		<div style="width:100%; margin-top:20px;">	
			<a style="cursor:pointer">다운로드</a>&nbsp;&nbsp;
			<a style="cursor:pointer" onclick="datailImgOut()">취소</a>
		</div>	
		
	</div>


        <script>
            clearUser('<%=session.userId%>','<%=session.userName%>');
			showUserList();           
        </script>
    </body>
</html>
